<section>
  <div class="container">
    <div class="user signupBx">
      <div class="formBx">
        <form>
          <h2>Create an account</h2>
          <input type="text" name="" placeholder="Username" #userName required>
          <input type="email" name="" placeholder="Email Address" #userEmail required>
          <input type="password" name="" placeholder="Create Password" #userPwd required>
          <input type="password" name="" placeholder="Confirm Password">
          <input type="button" name="" value="Sign Up" (click)="authService.signUp(userName.value, userEmail.value, userPwd.value)">
          <input class="Google" type="button" name="" value="Continue with Google" (click)="authService.googleAuth()">
          <p class="signup">Already have an account ? <a routerLink="/sign-in">Sign in.</a></p>
        </form>
      </div>
      <div class="imgBx"><img src="{{PATH_IMG2}}" alt="cassette" width="400px" height="500px"/></div>
    </div>
  </div>
</section>
