<div class="taskList">
  <div class="col">
    <div
      *ngFor="let taskList of taskLists; trackBy: trackByMethod"
      class="taskList-group">
      {{ taskList.title }}
      <div class="update-button"
           (click)="setActiveTaskList(taskList)"
      ></div>
        <app-tasks-board [taskListId]="taskList.uid.toString()"></app-tasks-board>
    </div>
  </div>
  <div
    class="container-details"
    [ngStyle]="{'display': this.isModal ? 'block' : 'none'}"
  >
    <div class="details" *ngIf="currentTaskList">
      <span
        class="close"
        (click)="this.isModal = !this.isModal"
      >&times;</span>
      <app-tasks-list-details
        [boardId]="projectId"
        (refreshList)="refreshTaskList()"
        [taskList]="currentTaskList"
        (isModal)= "this.closeModal($event)"
      ></app-tasks-list-details>
    </div>
  </div>
</div>

