<div class="taskList">
  <div class="col">
    <div
      *ngFor="let taskList of taskLists; let i = index;trackBy: trackByMethod"
      class="taskList-group">
      {{ taskList.title }}
      <div class="update-button"
           (click)="setActiveTaskList(taskList, i)"
      ></div>

      <div class="submit-form">
        <div *ngIf="submitted">

          <div class="form-group">
            <label for="title">Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              required
              [(ngModel)]="task.title"
              name="title"
            />
          </div>

          <div class="form-group">
            <label for="content">Content</label>
            <input
              class="form-control"
              id="content"
              required
              [(ngModel)]="task.content"
              name="content"
            />
          </div>

          <div class="form-group">
            <label for="doTask">Develop</label>
            <input
              class="form-control"
              id="doTask"
              required
              [(ngModel)]="task.doTask"
              name="doTask"
            />
          </div>

          <div class="form-group">
            <label for="createDate">Created date</label>
            <input
              type="date"
              class="form-control"
              id="createDate"
              required
              [(ngModel)]="task.createDate"
              name="createDate"
            />
          </div>

          <div class="form-group">
            <label for="dueDate">Due date</label>
            <input
              type="date"
              class="form-control"
              id="dueDate"
              required
              [(ngModel)]="task.dueDate"
              name="dueDate"
            />
          </div>

          <div class="form-group">
            <label for="order">Order</label>
            <input
              class="form-control"
              id="order"
              required
              [(ngModel)]="task.order"
              name="dueDate"
            />
          </div>

          <div class="form-group">
            <label for="comments">Comments</label>
            <input
              class="form-control"
              id="comments"
              required
              [(ngModel)]="task.comments"
              name="comments"
            />
          </div>

          <div class="form-group">
            <label for="idTicket">IdTicket</label>
            <input
              class="form-control"
              id="idTicket"
              required
              [(ngModel)]="task.idTicket"
              name="idTicket"
            />
          </div>

          <div class="form-group">
            <label for="attachmentTicket">AttachmentTicket</label>
            <input
              class="form-control"
              id="attachmentTicket"
              required
              [(ngModel)]="task.attachmentTicket"
              name="attachmentTicket"
            />
          </div>

          <button (click)="saveTask(taskList.uid)" class="btn-success">Submit</button>
        </div>

        <div *ngIf="!submitted">
          <img src='{{addBoardImg}}' alt="add Board" (click)="newTask()">
        </div>
      </div>

      <div class="taskList-group-item">
        <app-tasks [taskListId]="taskList.uid.toString()"></app-tasks>
      </div>
    </div>
  </div>
  <div
    class="container-details"
    [ngStyle]="{'display': this.isModal == true ? 'block' : 'none'}"
  >
    <div class="details" *ngIf="currentTaskList">
      <span
        class="close"
        (click)="this.isModal = !this.isModal"
      >&times;</span>
      <app-tasks-list-details
        (refreshList)="refreshTaskList()"
        [taskList]="currentTaskList"
        (isModal)= "this.closeModal($event)"
      ></app-tasks-list-details>
    </div>
  </div>
</div>

