<section>
  <div class="container">
    <div class="user">
      <div class="formBx">
        <form>
          <h2>Thank You for Registering</h2>
          <div *ngIf="getUser() as user"
               class="formGroup"
          >
            <p>We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
          </div>
          <p>Please check your email and click on the link to verify your email address.</p>
            <input (click)="sendVerificationMail()"
                   type="button"
                   name=""
                   value="Resend"
            >
          <p class="signup">Go back to ? <a routerLink="/sign-in">Sign in.</a></p>
        </form>
      </div>
    </div>
  </div>
</section>
