<div *ngIf="currentTask"
     class="task-label-container">
  <div class="task-details-container">
    <form [formGroup]="taskForm"
          novalidate
    >
      <div class="task-title">
        <label for="title">Title</label>
        <input class="title-input"
               [(ngModel)]="currentTask.title"
               formControlName="name"
               type="text"
               id="title"
               name="title"
        />
      </div>
      <div class="task-content">
        <label for="content">Content</label>
        <textarea class="content-textarea"
                  [(ngModel)]="currentTask.content"
                  formControlName="content"
                  id="content"
                  rows="1"
                  cols="1"
                  wrap="hard"
                  name="content"
        ></textarea>
      </div>
      <div class="task-develop">
        <label for="develop">Develop</label>
        <div class="scrollable">
          <select class="develop-input"
                  [ngModel]="currentTask.doTask"
                  [ngModelOptions]= "{standalone: true}"
                  (ngModelChange)="changeUserInBoard(userId.value)"
                  #userId
                  name="develop"
                  id="develop"
                  size="1"
                  autocomplete="off"
          >
            <option *ngFor="let user of users"
                    [value]="user.uid"
            >
              {{user.displayName}}
            </option>
          </select>
        </div>
      </div>
      <div class="task-createDate">
        <label for="createDate">Created date</label>
        <input class="createDate-input"
               [value]="currentTask.createDate"
               [min]="getCurrentDate()"
               type="date"
               id="createDate"
               name="createDate"
               disabled
        />
      </div>
      <div class="task-dueDate">
        <label for="dueDate">Due date</label>
        <input class="dueDate-input"
               [(ngModel)]="currentTask.dueDate"
               [min]="getCurrentDate()"
               (keydown)="stopWrite()"
               formControlName="dueDate"
               type="date"
               id="dueDate"
               name="dueDate"
        />
      </div>
      <div class="task-comments">
        <label for="comments">Comments</label>
        <textarea class="comments-textarea"
                  [(ngModel)]="currentTask.comments"
                  [ngModelOptions]= "{standalone: true}"
                  id="comments"
                  name="comments"
        ></textarea>
      </div>
      <div class="file-container">
        <div class="file-form">
          <app-file-form [taskId]="currentTask.uid"></app-file-form>
        </div>
        <div class="file-list">
          <app-file-list [taskId]="currentTask.uid"></app-file-list>
        </div>
      </div>
    </form>
    <div class="container-btn-delete-update-task">
      <button class="btn-update-task"
              [disabled]="!taskForm.valid"
              (click)="updateTask()"
              type="submit"
      >
        Update
      </button>
      <button class="btn-delete-task"
              [disabled]="!taskForm.valid"
              (click)="deleteTask()">
        Delete
      </button>
    </div>
  </div>
  <div class="label-container">
    <app-label [taskId]="task.uid"></app-label>
  </div>

</div>

<div *ngIf="!currentTask">
  <br/>
  <p>Cannot access this Board...</p>
</div>
