<div *ngIf="currentTask" class="edit-form">
  <h4>TaskList</h4>
  <form>
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        required
        [(ngModel)]="currentTask.title"
        name="title"
      />
    </div>

    <div class="form-group">
      <label for="content">Content</label>
      <input
        class="form-control"
        id="content"
        required
        [(ngModel)]="currentTask.content"
        name="content"
      />
    </div>

    <div class="form-group">
      <label>Develop
        <select class="form-control" name="develop"
          [ngModel]="currentTask.doTask" #userId (ngModelChange)="changeUserInBoard(userId.value)" >
          <option *ngFor="let user of users" [value]="user.uid"
          >
            {{user.displayName}}
          </option>
        </select>
      </label>
    </div>


    <div class="form-group">
      <label for="createDate">Created date</label>
      <input
        type="date"
        class="form-control"
        id="createDate"
        required
        [(ngModel)]="currentTask.createDate"
        name="createDate"
      />
    </div>


    <div class="form-group">
      <label for="order">Order</label>
      <input
        class="form-control"
        id="order"
        required
        [(ngModel)]="currentTask.order"
        name="order"
      />
    </div>

    <div class="form-group">
      <label for="dueDate">Due date</label>
      <input
        type="date"
        class="form-control"
        id="dueDate"
        required
        [(ngModel)]="currentTask.dueDate"
        name="dueDate"
      />
    </div>

    <div class="form-group">
      <label for="comments">Comments</label>
      <input
        class="form-control"
        id="comments"
        required
        [(ngModel)]="currentTask.comments"
        name="comments"
      />
    </div>

    <div>
      <div class="fileForm">
        <app-file-form [taskId]="currentTask.uid"></app-file-form>
      </div>

      <div class="fileList">
        <app-file-list [taskId]="currentTask.uid"></app-file-list>
      </div>
    </div>

    <app-label [taskId]="task.uid"></app-label>

  </form>

  <button class="badge" (click)="deleteTask()">
    Delete
  </button>

  <button type="submit" class="badge-success" (click)="updateTask()">
    Update
  </button>
  <p>{{ message }}</p>
</div>

<div *ngIf="!currentTask">
  <br />
  <p>Cannot access this Board...</p>
</div>
