.task-label-container {
  display: flex;
  justify-content: space-between;

  .task-details-container {
    position: relative;

    form {
      .searchUser-container {
        display: flex;
        justify-content: flex-end;

        .searchUser {
          border: 1px solid #cdcdcd;
          border-radius: 3px;
          padding: 4px;
          width: 236px;
          white-space: nowrap;
          color: darkslateblue;
          outline: none;
          background-color: white;
          text-decoration: none;
        }
      }
    }
  }

  .task-title,
  .task-content,
  .task-develop,
  .task-createDate,
  .task-order,
  .task-dueDate,
  .task-comments,
  .task-list
  {
    display: flex;
    margin-bottom: 6px;
    align-items: center;

    label {
      width: 100px;
      display: flex;
      align-items: center;
      color: #808080;
    }

    span {
      margin-left: 5px;
      color: red;
      font-size: 8px;

      @media(max-width: 620px) {
        font-size: 16px;
      }
    }

    .scrollable {
      .develop-input {
        height: 60px;
      }
    }

    .title-input,
    .develop-input,
    .createDate-input,
    .order-input,
    .dueDate-input,
    .task-list-input{
      padding: 4px;
      box-sizing: border-box;
      border-radius: 3px;
      font-size: 14px;
      font-weight: 400;
      background-color: white;
      text-decoration: none;
      height: 30px;
      white-space: nowrap;
      color: darkslateblue;
      outline: none;
      border: 1px solid #cdcdcd;
      width: 236px;

      @media(max-width: 620px) {
      }

    }

    .task-list-input {
      height: 57px;
    }

    .createDate-input {
      background-color: #f4f5f7;
    }

    .content-textarea,
    .comments-textarea {
      padding: 4px;
      box-sizing: border-box;
      border-radius: 3px;
      font-size: 14px;
      font-weight: 400;
      background-color: white;
      text-decoration: none;
      color: darkslateblue;
      outline: none;
      border: 1px solid #cdcdcd;
      width: 236px;
      height: 65px;
      resize: none;

      @media(max-width: 620px) {
      }

    }
  }

  .task-list{
    display: none;

    @media(max-width: 620px) {
      display: flex;
    }
  }

  .container-btn-delete-update-task {
    display: flex;
    justify-content: center;
    margin-top: 14px;
    width: 335px;

    @media(max-width: 620px) {
      position: absolute;
      bottom: 10px;
      top: 808px;
    }

    .btn-delete-task,
    .btn-update-task {
      margin: 0;
      padding: 4px 10px;
      box-sizing: border-box;
      border-radius: 3px;
      cursor: pointer;
      font-size: 14px;
      font-weight: 400;
      background-color: rgba(9, 30, 66, .08);
      border: 1px solid transparent;
      text-decoration: none;
      height: 30px;
      white-space: nowrap;
      color: darkslateblue;
      outline: none;

      &:hover {
        background-color: rgba(9, 30, 66, 0.1);
      }

      &[disabled] {
        color: #cdcdcd;
      }
    }

    .btn-update-task {
      margin-right: 10px;
    }
  }

  .file-form {
    margin-bottom: 10px;
  }

}

@media(max-width: 620px) {
  .task-label-container {
    flex-direction: column;
  }

  .container-btn-delete-update-task {
    margin: 2% 0;
  }

  .label-container {
    ::ng-deep {
      .list-group {
        max-height: 88px;
      }

      .search {
        width: 334px;
      }

      .app-label-list-task-container {
        width: 334px;
      }
    }
  }
  .file-form {
    ::ng-deep {
      .upload-file {
        margin-left: 0;
      }
    }
  }
}
