<div class="header-container">
  <div class="header">
    <h2><a routerLink="/dashboard">KanbanBoard</a></h2>
    <div *ngIf="(users | async) as user"
         class="action">
      <div class="profile"
           (click)="changeActiveFont()">
        <div class="profile-img-container">
          <img *ngIf="user.photoURL"
               class="profile-img"
               src="{{ user.photoURL }}"
               alt="{{ user.displayName }}"
          >
        </div>
      </div>
      <div class="menu"
           [ngClass]="{ active:isActiveFont }"
      >
        <h3>{{ user.displayName }}<br><span>{{ user.email }}</span></h3>
        <ul>
          <li>
            <div class="log-out-img"></div>
            <a (click)="signOut()">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

