<div class="task">
  <div class="col">
    <div *ngFor="let task of tasks; trackBy: trackByMethod"
         class="task-group"
         draggable="true">
      <div class="task-header">
        <span class="id-ticket">{{correctIdTicket(task)}}</span>
        <div class="update-button"
             (click)="setActiveTask(task)"
        ></div>
      </div>
      <div
        class="date"
        [ngStyle]="{'display': checkExpiredDate(task.dueDate) ? 'block' : 'none'}"
      >
        &#9832; Date expired
      </div>
      <span class="task-title">{{ task.title }}</span>
      <div class="name-of-developer-container">
        <span>Assignee: </span>
        <span>{{task.nameOfDeveloper}}</span>
      </div>
      <app-label-list-task [taskId]="task.uid.toString()"></app-label-list-task>
    </div>
  </div>
  <div
    class="container-details"
    [ngStyle]="{'display': this.isModal ? 'block' : 'none'}"
  >
    <div *ngIf="currentTask"
         class="details">
      <div class="option-container">
        <p class="title-update-task">Update task</p>
        <span class="close"
              (click)="this.isModal = !this.isModal"
        >&times;</span>
      </div>
      <app-tasks-details (refreshList)="refreshTask()"
                         [task]="currentTask"
                         (isModal)="this.closeModal($event)"
      ></app-tasks-details>
    </div>
  </div>
</div>


