.board-color,
.board-title {
  display: flex;
  margin-bottom: 2%;
  label{
    width: 50px;
    display: flex;
    align-items: center;
    color: #808080;
  }


  .title-input{
    padding: 4px 10px;
    box-sizing: border-box;
    border-radius: 3.01px;
    font-size: 14px;
    font-weight: 400;
    background-color: white;
    text-decoration: none;
    height: 30px;
    white-space: nowrap;
    color: darkslateblue;
    outline: none;
    border: 1px solid #cdcdcd;
  }
}

.container-btn-delete-update-board {
  display: flex;
  justify-content: flex-end;

  .btn-delete-board,
  .btn-update-board {
    margin: 0;
    padding: 4px 10px;
    box-sizing: border-box;
    border-radius: 3.01px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    background-color: rgba(9, 30, 66, .08);
    border: 1px solid transparent;
    text-decoration: none;
    height: 30px;
    white-space: nowrap;
    color: darkslateblue;
    outline: none;

    &:hover {
      background-color: rgba(9, 30, 66, 0.1);
    }
  }

  .btn-update-board {
    margin-right: 10px;
  }
}
