<div *ngIf="currentBoard" class="edit-form">
  <form>
    <div class="board-title">
      <label for="title"><span>Title</span></label>
      <input
        type="text"
        class="title-input"
        id="title"
        [(ngModel)]="currentBoard.title"
        name="title"
      />
    </div>

    <div class="board-color">
      <label for="color">Color</label>
      <input
        type="color"
        class="color-input"
        id="color"
        value="{{currentBoard.color}}"
        [(ngModel)]="currentBoard.color"
        name="color"
      />
    </div>
  </form>
  <div class="container-btn-delete-update-board">
    <button type="submit" class="btn-update-board" (click)="updateBoard()">
      Update
    </button>

    <button class="btn-delete-board" (click)="deleteBoard()">
      Delete
    </button>
  </div>
</div>

<div *ngIf="!currentBoard">
  <br/>
  <p>Cannot access this Board...</p>
</div>
