<div class="create-board-submit-form">
  <div *ngIf="submitted"
       class="create-task"
  >
    <div class="details">
      <div class="option-container">
        <p class="title-create-task">Create task</p>
        <span class="close"
              (click)="closeModal()"
        >&times;</span>
      </div>
      <form [formGroup]="taskForm"
            novalidate
      >
        <div>
          <div class="task-title">
            <label for="title">Title<span>&#10059;</span></label>
            <input class="title-input"
                   [(ngModel)]="task.title"
                   [style.borderColor]="taskForm.controls['name'].invalid && taskForm.controls['name'].touched ? 'red': '#cdcdcd'"
                   formControlName="name"
                   maxlength="100"
                   type="text"
                   id="title"
                   name="title"
                   required
            />
          </div>
          <div class="task-content">
            <label for="content">Content<span>&#10059;</span></label>
            <textarea class="content-textarea"
                      [(ngModel)]="task.content"
                      [style.borderColor]="taskForm.controls['content'].invalid && taskForm.controls['content'].touched ? 'red': '#cdcdcd'"
                      formControlName="content"
                      maxlength="200"
                      id="content"
                      name="content"
                      rows="1"
                      cols="1"
                      wrap="hard"
                      required
            ></textarea>
          </div>
          <div class="searchUser-container">
            <label>
              <input class="searchUser"
                     [(ngModel)]="title"
                     [ngModelOptions]="{standalone: true}"
                     type="text"
                     placeholder="Search">
            </label>
          </div>
          <div class="task-develop">
            <label for="develop">Develop<span>&#10059;</span></label>
            <select class="develop-select"
                    [(ngModel)]="task.doTask"
                    [style.borderColor]="taskForm.controls['develop'].invalid && taskForm.controls['develop'].touched ? 'red': '#cdcdcd'"
                    formControlName="develop"
                    name="develop"
                    id="develop"
                    size="5"
                    autocomplete="off"
            >
              <option [ngValue]="undefined" hidden>Select develop:</option>
              <option *ngFor="let user of users | appFilterUsers: title"
                      [value]="user.uid"
              >
                {{user.displayName}}
              </option>
            </select>
          </div>
          <div class="task-due-date">
            <label for="dueDate">Due date<span>&#10059;</span></label>
            <input class="due-date-input"
                   [(ngModel)]="task.dueDate"
                   [min]="getCurrentDate()"
                   [style.borderColor]="taskForm.controls['dueDate'].invalid && taskForm.controls['dueDate'].touched ? 'red': '#cdcdcd'"
                   formControlName="dueDate"
                   type="date"
                   id="dueDate"
                   name="dueDate"
                   required
            />
          </div>
          <div class="task-comments">
            <label for="comments">Comments</label>
            <textarea class="comments-textarea"
                      [(ngModel)]="task.comments"
                      [ngModelOptions]="{standalone: true}"
                      maxlength="200"
                      id="comments"
                      name="comments"
            ></textarea>
          </div>
        </div>
        <div>
          <div class="label-container">
            <div class="label-title-container">
              <p class="selected-labels-title">Selected labels</p>
              <p class="labels-title">Labels</p>
            </div>
            <app-label [taskId]="task.uid"></app-label>
          </div>
          <div class="file-form-list-container">
            <div class="file-form">
              <app-file-form [taskId]="task.uid"></app-file-form>
            </div>

            <div class="file-list">
              <app-file-list [taskId]="task.uid"></app-file-list>
            </div>
          </div>
          <div class="container-btn-save-task">
            <button class="btn-save-task"
                    [disabled]="!taskForm.valid"
                    (click)="saveTask()"
            >Create
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="taskList-group-item">
  <app-tasks [taskListId]="taskListId"></app-tasks>
  <div class="btn-add-task-container">
    <button class="btn-add-task"
            *ngIf="!taskListIsFinalList"
            (click)="newTask()"
    >+ Add another task
    </button>
  </div>
</div>
