<div class="create-board-submit-form">
  <div *ngIf="submitted"
       class="create-task"
  >
    <div class="details">
      <div class="option-container">
        <p class="title-create-task">Create task</p>
        <span class="close"
              (click)="closeModal()"
        >&times;</span>
      </div>
      <form [formGroup]="taskForm"
            novalidate
      >
        <div>
          <div class="task-title">
            <label for="title">Title</label>
            <input class="title-input"
                   [(ngModel)]="task.title"
                   formControlName="name"
                   maxlength="20"
                   type="text"
                   id="title"
                   name="title"
                   required
            />
            <span *ngIf="taskForm.controls['name'].invalid"
            >&#10059;</span>
          </div>
          <div class="task-content">
            <label for="content">Content</label>
            <textarea class="content-textarea"
                      [(ngModel)]="task.content"
                      formControlName="content"
                      maxlength="200"
                      id="content"
                      name="content"
                      rows="1"
                      cols="1"
                      wrap="hard"
                      required
            ></textarea>
            <span *ngIf="taskForm.controls['content'].invalid"
            >&#10059;</span>
          </div>
          <div class="task-develop">
            <label for="develop">Develop</label>
            <select class="develop-select"
                    [(ngModel)]="task.doTask"
                    formControlName="develop"
                    name="develop"
                    id="develop"
            >
              <option [ngValue]="undefined" hidden>Select develop:</option>
              <option *ngFor="let user of users"
                      [value]="user.uid"
              >
                {{user.displayName}}
              </option>
            </select>
            <span *ngIf="taskForm.controls['develop'].invalid"
            >&#10059;</span>
          </div>
          <div class="task-due-date">
            <label for="dueDate">Due date</label>
            <input class="due-date-input"
                   [(ngModel)]="task.dueDate"
                   [min]="getCurrentDate()"
                   (keydown)="stopWrite()"
                   formControlName="dueDate"
                   type="date"
                   id="dueDate"
                   name="dueDate"
                   required
            />
            <span *ngIf="taskForm.controls['dueDate'].invalid"
            >&#10059;</span>
          </div>
          <div class="task-comments">
            <label for="comments">Comments</label>
            <textarea class="comments-textarea"
                      [(ngModel)]="task.comments"
                      [ngModelOptions]="{standalone: true}"
                      maxlength="200"
                      id="comments"
                      name="comments"
            ></textarea>
          </div>
        </div>
        <div>
          <div class="label-container">
            <div class="label-title-container">
              <p class="selected-labels-title">Selected labels</p>
              <p class="labels-title">Labels</p>
            </div>
            <app-label [taskId]="task.uid"></app-label>
          </div>
          <div class="file-form-list-container">
            <div class="file-form">
              <app-file-form [taskId]="task.uid"></app-file-form>
            </div>

            <div class="file-list">
              <app-file-list [taskId]="task.uid"></app-file-list>
            </div>
          </div>
          <div class="container-btn-save-task">
            <button class="btn-save-task"
                    [disabled]="!taskForm.valid"
                    (click)="saveTask()"
            >Create
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="taskList-group-item">
  <app-tasks [taskListId]="taskListId"></app-tasks>
  <div class="btn-add-task-container">
    <button class="btn-add-task"
            *ngIf="!taskListIsFinalList"
            (click)="newTask()"
    >+ Add another task
    </button>
  </div>
</div>
