<section>
  <div class="container">
    <div class="user">
      <div class="formBx">
        <form>
          <h2>Reset Password</h2>
          <input type="email" name="" placeholder="Email Address" #passwordResetEmail required>
          <input type="button" name="" value="Reset Password" (click)="authService.forgotPassword(passwordResetEmail.value)">
          <p class="signup">Go back to ? <a routerLink="/sign-in">Sign in.</a></p>
        </form>
      </div>
      <div class="imgBx"></div>
    </div>
  </div>
</section>
