<section>
  <div class="container">
    <div class="user">
      <div class="formBx">
        <form [formGroup]="userForm"
              novalidate>
          <h2>Reset Password</h2>
          <label>
            <input type="email"
                   formControlName="passwordResetEmail"
                   name=""
                   placeholder="Email Address"
                   #passwordResetEmail
                   required>
          </label>
          <div class="alert-danger">
            <span
              *ngIf="userForm.controls['passwordResetEmail'].invalid && userForm.controls['passwordResetEmail'].touched"
            >
              Incorrect email</span>
          </div>
          <input [disabled]="!userForm.valid"
                 (click)="forgotPassword(passwordResetEmail.value)"
                 type="button"
                 name=""
                 value="Reset Password"
          >
          <p class="signup">Go back to ? <a routerLink="/sign-in">Sign in.</a></p>
        </form>
      </div>
      <div class="imgBx"></div>
    </div>
  </div>
</section>
