<div *ngIf="currentLabel" class="edit-form">
  <h4>Label</h4>
  <form>
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        [(ngModel)]="currentLabel.title"
        name="title"
      />
    </div>
    <div class="form-group">
      <label for="color">Color</label>
      <input
        type="color"
        class="form-control"
        id="color"
        value="{{currentLabel.color}}"
        [(ngModel)]="currentLabel.color"
        name="color"
      />
    </div>
  </form>

  <button class="badge" (click)="deleteLabel()">
    Delete
  </button>

  <button type="submit" class="badge-success" (click)="updateLabel()">
    Update
  </button>
  <p>{{ message }}</p>
</div>

<div *ngIf="!currentLabel">
  <br />
  <p>Cannot access this Board...</p>
</div>
