<div *ngIf="currentLabel"
     class="label-details-container">
  <div class="label-details"></div>
  <form>
    <div class="label-title">
      <label for="title">Title</label>
      <input class="title-input"
             [(ngModel)]="currentLabel.title"
             type="text"
             id="title"
             name="title"
      />
    </div>
    <div class="label-color">
      <label for="color">Color</label>
      <input class="color-input"
             [(ngModel)]="currentLabel.color"
             type="color"
             id="color"
             value="{{currentLabel.color}}"
             name="color"
      />
    </div>
  </form>
  <div class="container-btn-delete-update-label">
    <button class="btn-update-label"
            (click)="updateLabel()"
            type="submit"
    >
      Update
    </button>
    <button class="btn-delete-label"
            (click)="deleteLabel()">
      Delete
    </button>
  </div>
</div>
