<div class="board-lists-container">
  <div class="board-lists">
    <p class="name-board-lists">My boards</p>
    <app-table [boards]="boards"
               (isModal)="this.closeModal($event)"
               (currentBoard)="setActiveBoard($event)">
    </app-table>
  </div>
  <div class="board-lists">
    <p class="name-board-lists">Assigned boards </p>
    <app-table [boards]="otherBoards"
               (isModal)="this.closeModal($event)"
               (currentBoard)="setActiveBoard($event)">
    </app-table>
  </div>
</div>
<div
  class="container-board-lists-details-container"
  [ngStyle]="{'display': this.isModal ? 'block' : 'none'}"
>
  <div *ngIf="currentBoard"
       class="container-board-lists-details">
    <div class="option-container">
      <p class="title-update-board">Update board</p>
      <span class="close"
            (click)="this.isModal = !this.isModal"
      >&times;</span>
    </div>
    <app-board-details [board]="currentBoard"
                       (refreshList)="refreshList()"
                       (isModal)="this.closeModal($event)"
    ></app-board-details>
  </div>
</div>
