.board-lists-container {
  display: flex;
  background-color: #f4f5f7;
  margin: 1%;
  border-radius: 3px;
  box-shadow: 0 4px 8px -2px rgba(9, 30, 66, .25), 0 0 1px rgba(9, 30, 66, .31);
  min-height: 84%;
  padding: 1%;
  justify-content: space-between;

  .board-lists {
    width: 48%;

    .prev-next-btn-container{
      display: flex;
      justify-content: center;

      .prev-next-btn{
        display: flex;
        width: 120px;
        justify-content: space-between;
      }

      button{
        padding: 4px 10px;
        box-sizing: border-box;
        border-radius: 3px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
        background-color: rgba(9, 30, 66, 0.08);
        border: 1px solid transparent;
        text-decoration: none;
        height: 30px;
        white-space: nowrap;
        color: darkslateblue;
        outline: none;

        &[disabled]{
          color: #cdcdcd;
        }
      }
    }

    .name-board-lists {
      color: darkslateblue;
      font-size: 16px;
      margin-bottom: 2%;
    }
  }
}

  .container-board-lists-details-container {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

    .container-board-lists-details {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 350px;
      line-height: 16px;
      border-radius: 3px;

      .option-container{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #e2e2e2;
        margin-bottom: 20px;
        padding-bottom: 10px;

        .title-update-board{
          color: darkslateblue;
          font-size: 16px;
        }
      }

      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        &:hover,
        &:focus
        {
          color: rgba(9, 30, 66, 0.24);
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }

@media(max-width: 770px){
  .board-lists-container{
    flex-direction: column;

    .board-lists{
      margin-bottom: 50px;
      width: 100%;
    }
  }
}

