<div class="search-container">
  <input class="search"
         [(ngModel)]="title"
         (input)="searchResults(searchText.value)"
         type="text"
         maxlength="30"
         placeholder="Search"
         #searchText
  >
  <div class="search-results"
       [hidden]="isVisible"
  >
    <div *ngFor="let searchBoard of searchingBoards; trackBy: trackByMethod">
      <div class="search-value-container"
           (click)="navigateToBoard(searchBoard.uid)"
      >
        <div class="search-board-icon"
             [style.background-color]="searchBoard.color"></div>
        <div>{{searchBoard.title}}</div>
        <div>{{searchBoard.ownerUsername}}</div>
      </div>
    </div>
  </div>
</div>
<div class="boards-table-container">
  <table class="boards-table">
    <thead>
    <tr>
      <th (click)="filterBoards('icon')">Icon
        <span *ngIf="arrayFilterButtons[0].active;else icon">
          <span *ngIf="arrayFilterButtons[0].filterButtons;else iconBut">&#8593;</span>
          <ng-template #iconBut><span>&#8595;</span></ng-template>
        </span>
        <ng-template #icon><span>&#8597;</span></ng-template>
        <span class="date">date</span>
      </th>
      <th (click)="filterBoards('boardName')">Board name
        <span *ngIf="arrayFilterButtons[1].active;else boardName">
          <span *ngIf="arrayFilterButtons[1].filterButtons;else boardNameBut">&#8593;</span>
          <ng-template #boardNameBut><span>&#8595;</span></ng-template>
        </span>
        <ng-template #boardName><span>&#8597;</span></ng-template>
      </th>
      <th (click)="filterBoards('ownerName')">Owner name
        <span *ngIf="arrayFilterButtons[2].active;else ownerName">
        <span *ngIf="arrayFilterButtons[2].filterButtons;else ownerNameBut">&#8593;</span>
          <ng-template #ownerNameBut><span>&#8595;</span></ng-template>
        </span>
        <ng-template #ownerName><span>&#8597;</span></ng-template>
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr
      class="list-group-item"
      *ngFor="let board of boards; trackBy: trackByMethod">
      <td>
        <div class="board-icon"
             (click)="navigateToBoard(board.uid)"
             [style.background-color]="board.color">
        </div>
      </td>
      <td class="board-title"><a (click)="navigateToBoard(board.uid)">{{ board.title }}</a></td>
      <td>{{board.ownerUsername}}</td>
      <td class="board-details">
        <button class="update-button"
                (click)="setActiveBoard(board)"
        >Edit
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
