.search {
  margin-bottom: 2%;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  height: 30px;
  white-space: nowrap;
  color: darkslateblue;
  outline: none;
  border: 1px solid #cdcdcd;
  width: 35%;
}

.boards-table-container {
  overflow-y: auto;
  max-height: 65vh;
  .boards-table {
    display: grid;
    border-collapse: collapse;
    min-width: 100%;
    grid-template-columns:
      minmax(50px, 0.8fr)
      minmax(50px, 1.67fr)
      minmax(50px, 1.67fr)
      minmax(50px, 0.8fr);

    thead,
    tbody,
    tr {
      display: contents;

      th,
      td {
        padding: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .board-details {
        overflow: unset;
      }

      th {
        position: sticky;
        top: 0;
        text-align: left;
        font-weight: bold;
        font-size: 14px;
        color: darkslateblue;
        border-bottom: 2px solid #cdcdcd;
        background-color: #f4f5f7;

        &:last-child {

        }
      }

      td {
        padding: 10px 0;
        color: #808080;
        border-bottom: 1px solid #cdcdcd;
      }

    }
  }

  .list-group-item {

    .board-icon {
      width: 16px;
      height: 16px;
      cursor: pointer;
    }

    .board-title {
      a {
        cursor: pointer;
      }
    }

    .update-button {
      padding: 0;
      border: none;
      font: inherit;
      color: inherit;
      background-color: transparent;
      cursor: pointer;
      outline: none;
    }
  }
}
