<section>
  <div class="container">
    <div class="user">
      <div class="imgBx"></div>
      <div class="formBx">
        <form>
          <h2>Sign In</h2>
          <label>
            <input type="text"
                   name=""
                   placeholder="UserEmail"
                   #userEmail
                   required
            >
          </label>
          <label>
            <input type="password"
                   name=""
                   placeholder="Password"
                   #userPassword
                   required
            >
          </label>
          <input (click)="signIn(userEmail.value, userPassword.value)"
                 type="button"
                 name=""
                 value="Login"
          >
          <input class="Google"
                 (click)="googleAuth()"
                 type="button"
                 name=""
                 value="Login with Google"
          >
          <p class="signup">Don't have an account ? <a routerLink="/sign-up">Sign Up.</a></p>
          <p class="signup"><a routerLink="/forgot-password">Forgot Password ? </a></p>
        </form>
      </div>
    </div>
  </div>
</section>
