<div *ngIf="currentTaskList" class="edit-form">
  <form>
    <div class="task-list-title">
      <label for="title"><span>Title</span></label>
      <input
        type="text"
        class="title-input"
        id="title"
        [(ngModel)]="currentTaskList.title"
        name="title"
      />
    </div>

    <div class="task-list-is-final-list">
      <label for="check"><span>Final list</span></label>
      <input
        type="checkbox"
        class="check-input"
        id="check"
        required
        [checked]="currentTaskList.isFinalList"
        (change)="currentTaskList.isFinalList = !currentTaskList.isFinalList"
        name="check"
      />
    </div>
  </form>

  <div class="container-btn-delete-update-task-list">
    <button type="submit" class="btn-update-task-list" (click)="updateTaskList()">
      Update
    </button>

    <button class="btn-delete-task-list" (click)="deleteTaskList()">
      Delete
    </button>
  </div>
</div>

<div *ngIf="!currentTaskList">
  <br/>
  <p>Cannot access this Board...</p>
</div>
