<input type="text" [(ngModel)]="tittle" (input)="search()" >
<div class="list">
  <div class="col">
    <div class="list-group">
      <div
        class="list-group-item"
        *ngFor="let label of labels; trackBy: trackByMethod"
        [ngStyle]="{'background-color': label.color == null ? 'default' : label.color}"
        (click)="choseLabel(label, i)"
      >
        {{ label.title }}
        <div appClickStopPropagation class="update-button"
             (click)="setActiveLabel(label)"
        ></div>
      </div>
    </div>
  </div>
  <div
    class="container-details"
    [ngStyle]="{'display': this.isModal == true ? 'block' : 'none'}"
  >
    <div class="details" *ngIf="currentLabel">
      <span
        class="close"
        (click)="this.isModal = !this.isModal"
      >&times;</span>
      <app-label-list-project-details
        (refreshList)="refreshList()"
        [label]="currentLabel"
        (isModal)= "this.closeModal($event)"
      ></app-label-list-project-details>
    </div>
  </div>
</div>
