<app-navbar></app-navbar>
<div class="submit-form">
  <div class="create-board" *ngIf="submitted">
    <div class="details">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        required
        [(ngModel)]="board.title"
        name="title"
      />
    </div>

    <div class="form-group">
      <label for="type">Type</label>
      <input
        class="form-control"
        id="type"
        required
        [(ngModel)]="board.type"
        name="type"
      />
    </div>

    <div class="form-group">
      <label for="color">Type</label>
      <input
        type="color"
        class="form-control"
        id="color"
        value="#444"
        required
        [(ngModel)]="board.color"
        name="color"
      />
    </div>

    <button (click)="saveBoard()" class="btn-success">Submit</button>
    <span
      class="close"
      (click)="submitted = !submitted"
    >&times;</span>
    </div>
  </div>

  <div class="add-board-button-container">
    <span>Boards</span>
    <div *ngIf="!submitted">
      <button class="add-board-button" (click)="newBoard()">
        Create board
      </button>
    </div>
  </div>

</div>

<app-boards-list></app-boards-list>
